@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.drug-reactions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 100vh;

  &__header {
    display: flex;
    background-color: $primary-color-6;
    border-radius: 0px 12px 12px 0px;
    font-size: 12px;
    font-weight: bold;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 1.5rem;
    @include tablet {
      padding-left: 0.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 1rem;
    }
    @include desktop {
      padding-left: 2rem;
      padding-right: 1rem;
      font-size: 1.3rem;
    }
  }

  &__title {
    margin-left: 20px;
  }

  &__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
    max-width: 250px;
    margin-left: 2rem;
    @include tablet {
      padding-left: 15rem;
      padding-top: 2rem;
      padding-bottom: 25rem;
    }
    @include desktop {
      padding-left: 30rem;
      padding-top: 2rem;
    }
  }

  &__input {
    flex: 1;
    padding: 0.8rem;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    @include desktop {
      margin-left: -5rem;
      margin-right: -5rem;
      font-size: 1.5rem;
    }
  }

  &__button {
    background-color: $primary-color-1;
    color: white;
    border: none;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    @include desktop {
      margin-left: -5rem;
      margin-right: -5rem;
      font-size: 1.5rem;
    }
  }
}
