@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center; // Center everything inside
  text-align: center;
  padding-top: 6rem;
  font-family: "new-zen", sans-serif;
  font-weight: 700;
  font-style: normal;
  overflow: hidden;

  @include tablet {
    padding-bottom: 2rem;
  }
  &__title {
    background-color: $primary-color-6;
    padding: 0.5px 10px;
    border-radius: 12px 12px 12px 12px;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1.2rem;
    @include tablet {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-radius: 12px 12px 12px 12px;
    }
    @include desktop {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.5rem;
      border-radius: 12px 12px 12px 12px;
    }
  }

  &__intolerances {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 1.5rem;
    margin-right: 2rem;
    @include tablet {
      padding-left: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    @include desktop {
      padding-left: 10rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: 1.5rem;
      padding-right: 10rem;
    }
  }

  &__intolerance {
    font-size: 1rem;
    @include desktop {
      font-size: 1.5rem;
    }
  }

  &__checkbox {
    margin-right: 5px;
  }

  &__button {
    background-color: $primary-color-1;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;

    margin-top: 10px;
    transition: 0.3s;
    @include tablet {
      padding-right: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1.5rem;
    }
    @include desktop {
      padding-right: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1.5rem;

      font-size: 1.5rem;
    }
  }

  &__list {
    margin-top: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  &__list-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  &__card {
    border-radius: 8px;
    margin-bottom: 20px;
  }

  &__card-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  &__card-image {
    width: 100%;
    border-radius: 8px;
  }
}
