$primary-color-1: #5271ff;
$primary-color-2: #fffbfe;
$primary-color-3: #fc9e4f;
$primary-color-4: #020122;
$primary-color-5: #fadbc1;

$secondary-color-1: #f3e1f3;
$secondary-color-2: #d0d4ff;
$secondary-color-3: #fad02c;
$secondary-color-4: #7ed957;
$secondary-color-5: #ff3131;

$tertiary-color-1: #f69f9f;

$desktop-breakpoint: 1280px;
$tablet-breakpoint: 768px;
