@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.drug-reactions-chart {
  background: $secondary-color-2;
  border-radius: 12px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 20px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 90%;
  text-align: center;
  overflow-x: auto;
  @include tablet {
    margin-left: 1.7rem;
  }
  @include desktop {
    margin-left: 3.5rem;
    margin-bottom: 6rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
    @include desktop {
      font-size: 1.2rem;
    }
  }

  .error-message {
    color: #d9534f;
    font-weight: bold;
    margin-top: 10px;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }

  p {
    font-size: 1rem;
    color: #666;
    font-weight: 500;
    margin-top: 10px;
  }

  .chart-container {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
  }
}
