@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.bento-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  align-items: start;
}

.bento-box {
  background-color: $tertiary-color-1;
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-size: auto;
  background-blend-mode: overlay;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;

  &__title {
    transform: rotate(-90deg);
    font-size: 1.2rem;
    white-space: nowrap;
    text-align: end;
    padding-right: 5rem;
    color: $primary-color-2;
  }

  &--medications {
    height: 342px;
    width: 90px;
    grid-row: span 2;
  }

  &--recipes {
    height: 215px;
    width: 90px;
    margin-right: 3rem;
  }
  &--insights {
    height: 200px;
    width: 90px;
    grid-row: span 2;
  }

  &--drug-reactions {
    height: 246px;
    width: 90px;
  }
}

.title-medications {
  padding-right: 15rem;
  padding-bottom: 5rem;
}

.title-recipes {
  padding-right: 10rem;
  padding-bottom: 5rem;
}

.title-insights {
  padding-right: 9rem;
  padding-bottom: 5rem;
}

.title-drug-reactions {
  padding-right: 7rem;
  padding-bottom: 5rem;
}
