@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;

.bento-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 0.5rem;
  margin-top: 1rem;
  padding: 1rem;
  align-items: start;
  @include desktop {
    transform: rotate(90deg);
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.bento-box {
  background-color: $tertiary-color-1;
  background-image: url("../../assets/images/Sparkle.gif"),
    url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-size: auto;
  background-blend-mode: overlay;
  padding: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  @include tablet {
    padding-left: 2rem;
    margin-left: 13rem;
  }
  @include desktop {
  }

  &__title {
    transform: rotate(-90deg);
    font-size: 1.2rem;
    white-space: nowrap;
    text-align: end;
    padding-right: 5rem;
    color: $primary-color-2;
    @include desktop {
      font-family: "new-zen", sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.4rem;
    }
    @include tablet {
    }
  }

  &--medications {
    height: 342px;
    width: 90px;
    grid-row: span 2;
    @include desktop {
      height: 400px;
      width: 120px;
      margin-left: -6rem;
      margin-top: -1rem;
    }
    @include tablet {
    }
  }

  &--recipes {
    height: 215px;
    width: 90px;
    margin-right: 3rem;
    @include desktop {
      height: 300px;
      width: 120px;
      margin-left: -19rem;
      margin-bottom: -13rem;
      margin-top: 2rem;
    }
    @include tablet {
      margin-left: 0.5rem;
    }
  }
  &--insights {
    height: 200px;
    width: 90px;
    grid-row: span 2;
    @include desktop {
      height: 350px;
      width: 120px;
      margin-top: 13rem;
      margin-left: -19rem;
    }
    @include tablet {
      margin-left: 0.5rem;
    }
  }

  &--drug-reactions {
    height: 246px;
    width: 90px;
    @include desktop {
      height: 300px;
      width: 120px;
      margin-left: -6rem;
      margin-bottom: 13rem;
    }
  }
}

.title-medications {
  padding-right: 15rem;
  padding-bottom: 5rem;
  @include desktop {
    padding-right: 16rem;
  }
}

.title-recipes {
  padding-right: 10rem;
  padding-bottom: 5rem;
  @include desktop {
    padding-right: 13rem;
  }
}

.title-insights {
  padding-right: 9rem;
  padding-bottom: 5rem;
  @include desktop {
    padding-right: 16rem;
  }
}

.title-drug-reactions {
  padding-right: 7rem;
  padding-bottom: 5rem;
  @include desktop {
    padding-right: 9rem;
  }
}
