@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  position: relative;
  bottom: auto;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: max-content;
  font-size: 0.875rem;
  background: transparent;
  margin-top: 2rem;

  @include tablet {
    margin-top: 3rem;
  }

  @include desktop {
    margin-top: 1rem;
  }
}
