@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  margin-left: 1.5rem;
  @include tablet {
    margin-left: 16rem;
  }

  @include desktop {
    position: absolute;
    left: 30rem;
    bottom: 0.5rem;
  }
}
